.timeout {
  position: fixed;
  top: 0;
  height: 1em;
  background-color: #2196F3;
  width: 20%;
  opacity: 0;
  transition: .5s;
}
.timeout_run {
  opacity: 1;
  width: 100%;
  transition: 2s;
}
.timeout__tip {
  color: #E5E5E5;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1em;
  font-style: italic;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  z-index: 1000;
  opacity: 0;
}
.timeout__tip_run {
  opacity: 1;
  transition: 0.5s;
}